@inject ViewOptionService ViewOption

@if (ViewOption.IsNavigationVisible)
{
    <button @onclick="ViewOption.Toggle" class="btn btn-primary"><span class="oi oi-collapse-left" aria-hidden="true"></span> Hide Menu</button>
}
else
{
    <button @onclick="ViewOption.Toggle"  class="btn btn-primary"><span class="oi oi-collapse-right" aria-hidden="true"></span> Show Menu</button>
}





@code {

}
